/* Main Page and Shared */

html {
    font-family: "Computer Modern Serif";
    color: black;
    background-color: white;
    font-weight: bold;
}

body {
    margin: 0px;
}

#background_image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
}

.navbar {
    font-family: "Exo 2", "Computer Modern Sans";
    z-index: 100;
    overflow: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 84%;
    background-color: #1a7d38;
    padding-right: 16%;
}

.navbar a {
    font-size: 20px;
    float: right;
    display: block;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: #0f4328;
}

#title {
    padding-top: 180px;
    width: 100%;
    font-size: 70pt;
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

#subtitle {
    width: 100%;
    font-family: "Computer Modern Sans";
    font-size: 20pt;
    text-align: center;
    margin-top: 0px;
    color: white;
}

.button_container {
    font-family: "Exo 2", "Computer Modern Sans";
    width: 100%;
    text-align: center;
}

.button_container a {
    background-color: #1a7238;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.button_container a:hover {
    background-color: #0f4328;
}

.section_title {
    width: 100%;
    text-align: center;
}

.section_body {
    position: relative;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 15pt;
    font-weight: normal;
}

#join_us {
    font-family: "Exo 2", "Computer Modern Sans";
    width: 100%;
    text-align: center;
    padding-top: 240px;
}

#join_us a {
    padding: 60px 120px;
    font-size: 40px;
}

#welcome {
    padding-top: 300px;
    font-size: 40pt;
}

#logo img {
    position: relative;
    left: 36%;
    width: 28%;
    object-fit: fill;
}

#freshers_guide_title {
    font-size: 30pt;
}

#freshers_guide {
    padding-top: 120px;
    padding-bottom: 80px;
}

#freshers_guide a {
    padding: 50px 100px;
    font-size: 40px;
}

#what_we_do_title {
    font-size: 40pt;
    margin-bottom: 10px;
}

#what_we_do {
    overflow: hidden;
    left: 20%;
    width: 60%;
    position: relative;
    font-weight: normal;
}

.what_we_do_box {
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    padding: 2.5% 2.5%;
    padding-top: 0px;
    width: 28.3333%;
    text-decoration: none;
}

.what_we_do_box h1 {
    font-size: 25pt;
}

.what_we_do_box p {
    font-size: 15pt;
    font-weight: normal;
}

#events_button {
    padding-top: 40px;
    padding-bottom: 140px;
}

#events_button a {
    padding: 50px 100px;
    font-size: 40px;
}

.article_title {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 40pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.article_authors {
    text-align: center;
    font-size: 15pt;
    font-weight: normal;
}

.article_body {
    position: relative;
    left: 25%;
    width: 50%;
    font-weight: normal;
    font-size: 15pt;
    text-align: left;
    padding-bottom: 60px;
}

.article_body h2 {
    font-size: 30pt;
    font-weight: bold;
}

.article_body h3 {
    font-size: 25pt;
    font-weight: bold;
}

.article_body h4 {
    font-size: 20pt;
}

.footer {
    font-family: "Exo 2", "Computer Modern Sans";
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #155735;
}

.footer_social_media {
    text-align: center;
    position: relative;
    padding-top: 10px;
    left: 35%;
    width: 30%;
}

.footer_social_media a {
    display: block;
    float: left;
    width: 50%;
    font-size: 60pt;
}

.footer_social_media a img {
    padding: 5% 5%;
    width: 60%;
    height: 60%;
}

.footer p {
    padding: 0% 10%;
    padding-top: 200px;
    color: white;
    text-align: center;
    font-size: 15pt;
    font-weight: normal;
}

/* Committee Page */

#our_committee {
    padding-top: 100px;
    font-size: 40pt;
}

#committee_list {
    margin-bottom: 50px;
}

.committee_list_item {
    height: 250px;
}

.committee_list_item img {
    height: 100%;
    float: left;
    display: block;
    margin: 0px 50px;
}

.committee_list_item h1 {
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0;
}

.committee_list_item h2 {
    margin-top: 0;
    font-weight: bold;
}

.committee_list_item p {
    font-size: 15pt;
}

#subject_contact_subtitle {
    padding-left: 30px;
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0;
}

#subject_contact_text_box {
    position: relative;
    margin-left: 50px;
    left: 0%;
    width: 60%;
}

#subject_contact_text_box h3 {
    font-size: 20pt;
    display: block;
    float: left;
    padding: 5% 5%;
    padding-bottom: 0px;
    width: 23%;
    text-decoration: none;
    text-align: center;
}

#subject_contact_box {
    position: relative;
    margin-left: 50px;
    left: 0%;
    width: 60%;
}

#subject_contact_box img {
    display: block;
    float: left;
    margin: 5% 5%;
    margin-top: 0px;
    width: 23%;
    text-align: center;
}

/* Membership Page */

#how_do_i_join {
    padding-top: 100px;
    font-size: 40pt;
}

#join_text_box {
    position: relative;
    left: 35%;
    width: 30%;
}

#join_text_box a {
    font-family: "Computer Modern Sans";
    font-size: 15pt;
    display: block;
    float: left;
    padding: 5% 5%;
    padding-bottom: 0px;
    width: 40%;
    color: black;
    text-decoration: none;
    text-align: center;
}

#join_box {
    position: relative;
    left: 35%;
    width: 30%;
}

#join_box a {
    display: block;
    float: left;
    padding: 5% 5%;
    padding-top: 0px;
    width: 40%;
    text-align: center;
}

#join_box a picture img {
    width: 80%;
}

#what_do_i_get {
    padding-top: 280px;
    font-size: 40pt;
}

#joining_benefits {
    padding-bottom: 150px;
}

/* Events Page */

#upcoming_events_title {
    padding-top: 100px;
    font-size: 40pt;
}

#past_events_title {
    padding-top: 50px;
    font-size: 40pt;
}

#upcoming_events_list {
    position: relative;
    padding: 2.5%;
    left: 20%;
    width: 55%;
    color: white;
}

#past_events_list {
    position: relative;
    padding: 2.5%;
    left: 20%;
    width: 55%;
    color: white;
    padding-bottom: 60px;
}

.event_box {
    position: relative;
    background-color: #1a7238;
    padding: 10px 0px;
    margin: 20px 0px;
    width: 100%;
}

.colour_box {
    position: absolute;
    padding: 0px;
    margin: -10px;
    width: 5%;
    height: 100%;
}

.event_box h1 {
    position: relative;
    left: 9%;
    width: 80%;
}

.event_box h2 {
    position: relative;
    left: 9%;
    width: 80%;
}

.event_box p {
    position: relative;
    left: 9%;
    width: 80%;
}

/* Sponsors Page */

#our_sponsors {
    padding-top: 100px;
    font-size: 40pt;
}

#sponsors_list {
    margin-bottom: 50px;
}

.sponsors_list_item {
    display: block;
    height: 250px;
    width: 90%;
    text-decoration: none;
    color: black;
}

.sponsors_list_item img {
    height: 250px;
    float: left;
    display: block;
    margin: 0px 50px;
}

.sponsors_list_item h1 {
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 0;
}

.sponsors_list_item p {
    font-size: 15pt;
}

/* History Page */

#timeline {
    position: relative;
    left: 35%;
    width: 30%;
}

.timeline_entry {
    position: absolute;
}
.timeline_entry p {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 5px;
    left: 80px;
    font-size: 15pt;
    font-weight: normal;
    width: 120%;
}

svg circle {
    fill: black;
}

svg rect {
    fill: black;
}

/* Contact Us Page */

#how_to_contact_us {
    padding-top: 100px;
    font-size: 40pt;
}

#emails_subtitle {
    font-size: 30pt;
    text-align: center;
}

#contact_us_container {
    padding-bottom: 60px;
}

.contact_us_box {
    position: relative;
    left: 25%;
    width: 45%;
    background-color: #1a7238;
    color: white;
    margin: 20px 0px;
    padding: 10px 1.5%;
}

.contact_us_box h3 {
    font-weight: bold;
    font-size: 25pt;
    padding: 0px 0px;
    margin: 5px 0px;
}

.contact_us_box a {
    text-decoration: none;
    color: #88ffaf;
}

/* Variations for different aspect ratios */

@media screen and (width <= 1520px) {
    /* Main Page and Shared */

    #join_us {
        padding-top: 120px;
    }

    #join_us a {
        padding: 50px 80px;
        font-size: 40px;
    }
}

@media screen and (width <= 1400px) {
    /* Main Page and Shared */

    #background_image {
        left: -700px;
        padding-left: 50%;
        width: 1400px;
        height: 736px;
        object-fit: cover;
    }

    .footer_social_media a img {
        padding: 5% 5%;
        width: 90%;
        height: 90%;
    }

    /* History Page */

    #timeline {
        left: 30%;
        width: 40%;
    }
}

@media screen and (width <= 800px) {
    /* Main Page and Shared */

    .navbar a {
        font-size: 12px;
        padding: 10px 10px;
    }

    #title {
        padding-top: 180px;
        font-size: 40pt;
    }

    #subtitle {
        font-size: 15pt;
        width: 90%;
        margin: 0 5%;
    }

    .section_body {
        left: 15%;
        width: 70%;
    }

    #logo img {
        left: 10%;
        width: 80%;
    }

    #freshers_guide_title {
        font-size: 25pt;
    }

    #freshers_guide {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #freshers_guide a {
        padding: 50px 50px;
        font-size: 35px;
    }

    #what_we_do_title {
        font-size: 30pt;
        margin-bottom: 10px;
    }

    #what_we_do {
        left: 15%;
        width: 70%;
    }

    .what_we_do_box {
        font-size: 20px;
        padding: 2.5% 2.5%;
        padding-top: 0px;
        width: 95%;
    }

    .what_we_do_box h1 {
        font-size: 20pt;
    }

    .what_we_do_box p {
        font-size: 15pt;
    }

    #events_button {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    #events_button a {
        padding: 50px 80px;
        font-size: 35px;
    }

    .footer {
        height: 300px;
    }

    .footer_social_media {
        padding-top: 0px;
        left: 25%;
        width: 50%;
    }

    .footer_social_media a {
        padding-bottom: 10px;
    }

    .footer p {
        padding: 0% 10%;
        padding-top: 170px;
        font-size: 10pt;
    }

    /* Committee Page */

    .committee_list_item {
        height: 500px;
    }

    .committee_list_item img {
        position: relative;
        left: 20%;
        width: 60%;
        height: 200px;
        margin: 50px 0px;
    }

    .committee_list_item h1 {
        position: relative;
        padding-top: 300px;
        font-size: 25pt;
        text-align: center;
    }

    .committee_list_item h2 {
        position: relative;
        text-align: center;
    }

    .committee_list_item p {
        position: relative;
        text-align: center;
        left: 5%;
        width: 90%;
    }

    /* Membership Page */

    #how_do_i_join {
        font-size: 35pt;
    }

    #join_text_box {
        left: 10%;
        width: 80%;
    }

    #join_text_box a {
        padding: 5% 5%;
        width: 40%;
    }

    #join_box {
        left: 10%;
        width: 80%;
    }

    #join_box a {
        padding: 5% 5%;
        width: 40%;
    }

    #what_do_i_get {
        padding-top: 400px;
        font-size: 35pt;
    }

    /* Events Page */

    #upcoming_events_title {
        font-size: 30pt;
    }

    #past_events_title {
        font-size: 30pt;
    }

    #upcoming_events_list {
        left: 10%;
        width: 75%;
    }

    #past_events_list {
        padding: 2.5%;
        left: 10%;
        width: 75%;
        padding-bottom: 60px;
    }

    .colour_box {
        width: 10%;
    }

    .event_box h1 {
        left: 15%;
    }

    .event_box h2 {
        left: 15%;
    }

    .event_box p {
        left: 15%;
    }

    /* Freshers Page */

    #freshers_guide {
        font-size: 30pt;
    }

    #freshers_guide_body {
        left: 15%;
        width: 70%;
        font-size: 15pt;
    }

    /* Sponsors Page */

    .sponsors_list_item {
        height: 500px;
        width: 100%;
    }

    .sponsors_list_item img {
        position: relative;
        left: 50%;
        height: 200px;
        margin: 50px -100px;
    }

    .sponsors_list_item h1 {
        position: relative;
        padding-top: 300px;
        font-size: 25pt;
        text-align: center;
    }

    .sponsors_list_item p {
        position: relative;
        text-align: center;
        left: 5%;
        width: 90%;
    }

    /* History Page */

    #timeline {
        left: 10%;
        width: 100%;
    }

    .timeline_entry p {
        width: 80%;
    }

    /* Contact Us Page */

    #how_to_contact_us {
        font-size: 40pt;
    }

    #emails_subtitle {
        font-size: 30pt;
    }

    .contact_us_box {
        left: 15%;
        width: 65%;
        padding: 10px 2.5%;
    }

    .contact_us_box h3 {
        font-size: 25pt;
    }
}

/* Variations for dark mode */

@media (prefers-color-scheme: dark) {
    /* Main Page and Shared */

    html {
        color: white;
        background-color: #1f2e26;
    }

    #background_image {
        filter: brightness(30%);
    }

    .navbar {
        background-color: #15662d;
    }

    .footer {
        background-color: #11472b;
    }

    /* Membership Page */

    #join_text_box a {
        color: white;
    }

    /* Sponsors Page */

    .sponsors_list_item {
        color: white;
    }

    /* History Page */

    svg circle {
        fill: white;
    }

    svg rect {
        fill: white;
    }
}
